@tailwind base;
@tailwind components;
@tailwind utilities;

/* Stroke tulisan di card sekolah*/

.text-stroke {
  -webkit-text-stroke: 0.2px white;
}

.text-stroke-blue {
  -webkit-text-stroke: 0.5px #000080;
}
/* CustomerServiceButton.css */
.cs-container {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

.cs-button {
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* CS Button MOdal cssnya*/
.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardcs {
  flex: 1;
  padding: 1rem;
  min-height: 300px;
  border-radius: 15px;
}

.card img {
  max-width: 100%;
  height: auto;
}

.round-image {
  border-radius: 100%;
}

.center-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}